body {
    background-color: #ffffff;
  }
.header_h1 {
    text-align: left;
}
.homepage_photo {
    /* text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%; */

    display: grid;
    grid-template-columns: 50px 1fr 50px; 
    height: 100%;
    width: 100%;


}
.homepage_h2 {
    text-align: center;
    font-size: 5ch;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;     
}
.homepage_h3 {
    text-align: center;
    color: rgb(82, 82, 82);
    font-family: Georgia, serif ;
}
.cat_h3 {
    text-align: center;
    font-family: Georgia, serif ;
    font-size: 3ch;

}

.equipment_pic {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.equipment {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
}