body {
    background-color: #d7dedf;
  }

.homepage_photo {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.homepage_h2 {
    text-align: center
}
.equipment_pic {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}