body {
    background-color: #ffffff;
  }
.header_h1 {
    text-align: left;
}
.row {
    margin-top: 100px;
    margin-left: 90px;    
    display: flex;
}

.column {
flex: 50%;
}

.container {
    columns: 2 auto;
  }
.categoryContainer {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 3px 3px; 
        max-width:70vw;
        margin-left:auto;
        margin-right: auto;
}  
.homepage_photo {
    /* text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%; */

    display: grid;
    grid-template-columns: 50px 1fr 50px; 
    height: 100%;
    width: 100%;


}
.homepage_h2 {
    text-align: center;
    font-size: 5ch;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;     
}
.homepage_h3 {
    text-align: center;
    color: rgb(82, 82, 82);
    font-family: Georgia, serif ;
}
.cat_h3 {
    text-align: center;
    font-family: Georgia, serif ;
    font-size: 3ch;

}

.equipment_pic {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 130px;
}
.equipment {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}
.bookingsPic {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 130px;

}
.h2Bookings {
    text-align: center;
}